@font-face {
	font-family: 'Queen of Clubs';
	src: local('Queen of Clubs'), url(./fonts/QueenOfClubs-p2rO.ttf) format('truetype');
}

@font-face {
	font-family: 'DMSans';
	src: local('DMSans'), url(./fonts/DMSans-Regular.woff) format('woff');
}

$dark: #230903;
$light: #f8f4f9;
$secondary-color: #ef5d60;
$tertiary-color: #ec4067;
$sm: 576px;
$md: 768px;
$lg: 992px;

body {
	max-width: 100%;
	height: 100%;
	font-family: 'DMSans';
}

text {
	display: block;
	text-align: right;
	font-size: 1.1em;
}

hr {
	z-index: 2;
}

::selection {
	background-color: $tertiary-color;
	color: $light;
}

ul,
li {
	list-style-type: none;
}

h1 {
	text-align: center;
	font-size: 1.8em;
}

h2 {
	text-align: center;
}

a {
	font-size: 1.5em;
}

header {
	position: sticky;
	top: 0px;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-left: 1em;
}

header span {
	cursor: default;
}

header a,
.categories span {
	text-decoration: none;
	position: relative;
	color: $dark;
	transition: .1s linear;
}

.categories span {
	margin-right: 1em;
	display: inline-block;
	z-index: 1;
	padding: 0 .4em .2em .4em;
}

header a:hover,
.categories span:hover {
	cursor: pointer;
	color: $light;
}

header a::after,
.categories span::after {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	height: 100%;
	z-index: -1;
	width: 0;
	background-color: $dark;
	transition: .1s linear;
}

a:hover::after,
.categories span:hover::after {
	width: 100%;
}

p {
	width: 100%;
	font-size: 1.1em;
	text-wrap: wrap;
	grid-column: 1 / -1;
}

footer {
	position: sticky;
	bottom: 0px;
	padding: .75em 2em 0 0;
	justify-content: space-around;
	z-index: 3;
}

footer a {
	margin-bottom: .75em;
	margin-top: .25em;
	text-decoration: underline transparent;
	color: $light;
	transition: text-decoration .3s linear;
}

footer a:hover {
	text-decoration-color: $light;
}

// boilerplate styles
.flex-wrapper {
	display: flex;
}

.dark {
	background-color: $dark;
	color: $light;
}

.light {
	background-color: $light;
	color: $dark;
}

// custom styles

.personal {
	flex-basis: 50%;
	height: 100%;
	overflow-y: clip;
}

.fetched-flex-wrapper {
	display: flex;
	flex-basis: 50%;
	height: 100%;
	overflow-y: clip;
	flex-direction: column;
	justify-content: space-between;
}

.h-line {
	visibility: hidden;
	height: 1.25px;
	background: $dark;
	flex: 1;
	margin: 1em .5em 0 .5em;
}

.name {
	font-family: 'Queen of Clubs';
	flex-basis: 100%;
	font-size: 5em;
	cursor: default;
}

.name+span {
	font-size: 1.5em;
}

a:has(.news-img),
.news-img {
	display: block;
	margin: auto;
	max-width: 90%;
	height: auto;
}

.main-flex-wrapper {
	height: 100%;
	max-width: 100%;
	display: flex;
	flex-direction: column;
}

.grid-container {
	display: grid;
	align-items: center;
	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
	gap: 2rem;
}

.grid-container img {
	object-fit: cover;
	width: 100%;
	max-height: 100%;
}

.loading {
	align-self: center;
	margin-top: 10em;
	animation: bounce 2s ease infinite;
}

.error {
	align-self: center;
	margin-top: 10em;
	text-decoration: underline $secondary-color;
	font-style: italic;
}

.categories {
	margin: 1.2em 1em 0 0;
	font-size: 1.3em;
}


//we want the flex direction to be column for less than $md

@media (min-width: $md) {
	.main-flex-wrapper {
		flex-direction: row;
	}

	.fetched-flex-wrapper {
		height: 100vh;
		overflow-y: scroll;
	}
	.personal {
		height: 100vh;
	}
}

@media (min-width: $md) and (max-width: 1184px) {
	.personal {
		overflow-y: scroll;
	}
}

@media (min-width: 1149px) {
	.contact {
		margin-top: 0;
		padding: 0 .4em 0 .4em;
	}

	.h-line {
		visibility: visible;
	}
}

@keyframes bounce {
	0% {
		transform: translateY(0%);
	}

	50% {
		transform: translateY(-25%);
	}

}